<div class="container-fluid" [style.backgroundImage]="'url(' + backgroundImageUrl + ')'" 
    style="width: 100%; height: 100vh; background-size: cover; background-position: center;">
    <h1 style="padding-top: 100px;"><strong style="color: white">Bienvenue chez Cinaye Burger, <br> où chaque bouchée est une <br> expérience unique !🌟</strong></h1><br>
    <br><br>
    <p style="color: rgba(250, 250, 250, 0.904);">
        Notre objectif est de créer une ambiance <br>
        conviviale et chaleureuse où vous pouvez <br>
        profiter de nos délicieuses créations culinaires.<br>
        Que vous soyez entre amis, en famille ou en solo, <br>
        nous vous promettons une expérience culinaire inoubliable.
    </p>
</div>
<div class="container-fluid" style="background-color: antiquewhite;">
    <app-menu-burger></app-menu-burger>
</div>
<div class="container-fluid" style="background-color: antiquewhite;">
    <!-- Site footer -->
    <app-footer></app-footer>
</div>
