<div class="container-fluid">
    <div class="text-center" style="width: 500px; height: 500px;">
        <img width="200" height="150" src="../../../assets/f2.png" class="rounded" alt="imageAccueil">
        <div class="div m-4" style="width: 400px; height: 300px; background-color: rgb(213, 210, 210);">
            <h5 style="padding-top: 10px;text-align: center;"><strong>BUGER ROYAL</strong></h5>
            <h5 style="padding-top: 10px;text-align: center;">2000 FCFA</h5>
            <h5 style="padding-top: 10px;text-align: center;">
                <svg style="color: rgb(225, 197, 11);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg style="color: rgb(225, 197, 11);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg style="color: rgb(225, 197, 11);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <br>
                <p style="text-align: justify; font-size: 12px; margin: 15px">
                    Savourez le "BUGER ROYAL" : 
                    un burger gourmet composé d’un steak de boeuf juteux,
                    de fromage cheddar fondu, de laitue croquante,
                    de tomates fraîches, de cornichons croustillants,
                    et d’une sauce spéciale maison.
                    Servi dans un pain brioché légèrement toasté,
                    ce délice est proposé à 2000 FCFA.
                    Une expérience culinaire royale à ne pas manquer !
                </p>
            </h5>
        </div>
    </div>
    <hr>
    <form>
        <!-- nom input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form4Example1">Nom</label>
          <input type="text" id="form4Example1" class="form-control" />
        </div>
      
        <!-- prenom input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form4Example2">Prénom</label>
          <input type="text" id="form4Example2" class="form-control" />
        </div>

        <!-- telephone input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form4Example2">Prénom</label>
            <input type="text" id="form4Example2" class="form-control" />
          </div>
      
          <!-- email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form4Example2">Adresse Email</label>
            <input type="email" id="form4Example2" class="form-control" />
          </div>
        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-block mb-4">
          Valider la commande
        </button>
    </form>
</div>